<div>
    <div class="menu-item flipping">
        <div>
            <div>
                <a asp-controller="App" asp-action="NoticeBoard">
                    <div class="inner-menu-item front">
                        <p>Notice Board</p>
                    </div>
                    <div class="inner-menu-item back">
                        <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. </p>
                    </div>
                </a>
            </div>
        </div>
        </div>
    <div class="menu-item flipping">
        <div>
            <div>
                <a asp-controller="App" asp-action="Messages">
                    <div class="inner-menu-item front">
                        <p>Messages</p>
                    </div>
                    <div class="inner-menu-item back">
                        <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="menu-item flipping">
        <div>
            <div>
                <a asp-controller="App" asp-action="Photos">
                    <div class="inner-menu-item front">
                        <p>Photos</p>
                    </div>
                    <div class="inner-menu-item back">
                        <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="menu-item flipping">
        <div>
            <div>
                <a asp-controller="App" asp-action="ParentsData">
                    <div class="inner-menu-item front">
                        <p>Parents Data</p>
                    </div>
                    <div class="inner-menu-item back">
                        <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>