<div>
    <div class="menu-item"><a asp-controller="App" asp-action="NoticeBoard"><div class="inner-menu-item"><p>Notice Board</p></div></a></div>
    <div class="menu-item"><a asp-controller="App" asp-action="Messages"><div class="inner-menu-item"><p>Messages</p></div></a></div>
    <div class="menu-item"><a asp-controller="App" asp-action="Photos"><div class="inner-menu-item"><p>Photos</p></div></a></div>
    <div class="menu-item"><a asp-controller="App" asp-action="ParentsData"><div class="inner-menu-item"><p>Parents Data</p></div></a></div>
</div>