<div class="menu-item"><a asp-controller="App" asp-action="NoticeBoard"><div class="inner-menu-item" ><p>Tablica ogłoszeń</p></div></a></div>
<div class="menu-item"><a asp-controller="App" asp-action="Messages"><div class="inner-menu-item"><p>Poczta</p></div></a></div>
<div class="menu-item"><a asp-controller="App" asp-action="Photos"><div class="inner-menu-item"><p>Zdjęcia</p></div></a></div>
<div class="menu-item"><a asp-controller="App" asp-action="ForParents"><div class="inner-menu-item"><p>Dla rodziców</p></div></a></div>