@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>Messages</h1>
    <div class="messages-list">
        <table>
            <tbody>
                <tr>
                    <th>Receiver</th>
                    <th>Subject</th>
                    <th>Date</th>
                </tr>
                <tr onclick="location.href = '/message';" onmouseover="this.style.cursor='pointer'">
                    <td>Anna</td>
                    <td>New menu</td>
                    <td>12/12/2018</td>
                </tr>
                <tr onclick="location.href = '/message';" onmouseover="this.style.cursor='pointer'">
                    <td>Anna</td>
                    <td>Trip to ZOO</td>
                    <td>12/10/2018</td>
                </tr>
                <tr onclick="location.href = '/message';" onmouseover="this.style.cursor='pointer'">
                    <td>Anna</td>
                    <td>Photos from a trip</td>
                    <td>12/05/2018</td>
                </tr>
            </tbody>
        </table>
        <button onclick="location.href = '/add-message';">New Message</button>
    </div>
}
