@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
<h1>Jakieśtam ogłoszenie</h1>
<h2>Jakiśtam typ ogłoszenia</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
 <div class="notice-footer"><span class="date">Opublikowano: 01/01/2016</span><span class="author">Autor: Dorota</span><span class="recipient">Odbiorca: wszyscy</span></div>
}
