@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>Notice Board</h1>
    <div class="notices">
        <div class="notice">
            <div><h3>Jadlospis</h3><p>Wszyscy</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet....</p>
            <button id="seeNoticeBtn">See Notice</button>
        </div>

        <button id="addNoticeBtn">Add a notice</button>
    </div>
}
