$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;



$primaryColor: beige;
$secondaryColor: darkgrey;
$font-color: black;
$cta-color: darkseagreen;
$contentElementColor: aliceblue;